<div class="masthead clearfix">
    <div class="inner">
        <a href="#/"><img src="images/logo.png" class="img-responsive" alt="Responsive image"></a>
        <nav>
          <ul class="nav masthead-nav">
           <!--<li class="active"><a href="index.html">Página principal</a></li>-->
            <li><a href="#/">Volver</a></li>
            <li><a href="#/home">Salir</a></li>
          </ul>
        </nav>
    </div>
</div>

<div class="inner cover ">
    <h1 class="cover-heading"></h1>
    <p class="lead">Elige la emoción que mejor
    te representa en este momento.</p>
    <br/>
    <p class="lead">
      <a href="#/why/1" class="btn" data-toggle="tooltip" title="Contento"><img src="images/contento.png" class="img-responsive center-block " alt="Responsive image">Contento</a>


      <a href="#/why/2" class="btn" data-toggle="tooltip" title="Motivado"><img src="images/motivado.png" class="img-responsive center-block" alt="Responsive image">Motivado</a>

      <a href="#/why/3" class="btn" data-toggle="tooltip" title="Desanimado"><img src="images/desanima.png" class="img-responsive center-block" alt="Responsive image">Desanimado</a>

      <a href="#/why/4" class="btn " data-toggle="tooltip" title="Estresado"><img src="images/estresa.png" class="img-responsive center-block" alt="Responsive image">Estresado</a>

    </p>

    </div>

    <div class="mastfoot">
    <div class="inner espacio">
      <p></p>
    </div>
</div>
