<div class="masthead clearfix">
    <div class="inner">
        <a href="/#">
            <img src="images/logo.png" class="img-responsive" alt="Responsive image">
        </a>
        <br/>
        <nav>
            <ul class="nav masthead-nav">
             <!-- <li class="active"><a href="#">Página principal</a></li>
              <li><a href="#">Volver</a></li>-->
              <!-- <li><a href="/#exit">Salir</a></li> -->
            </ul>
      </nav>
  </div>
</div>

<div class="inner cover ">

    <!-- INICIO -->
    <div ng-hide="main.success">

        <div>
            <br/><br/><br/>
            <!--<div class="estadis" ng-if="main.summaryYesterday.length > 0">

                <div class="col-md-8"> <img ng-src="images/mood-{{main.summaryToday[0].id}}.png" class="img-responsive center-block img_resultado_principal" alt="Responsive image">
                    <p>Hoy el {{main.summaryToday[0].percent}}% de la empresa <br/>está {{main.moods[main.summaryToday[0].id]}}</p>
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="images/mood-{{main.summaryYesterday[0].id}}.png"  class="img-responsive center-block img_resultado2" alt="Responsive image">
                        <p>Ayer el {{main.summaryYesterday[0].percent}}% de la empresa <br/>estuvo {{main.moods[main.summaryYesterday[0].id]}}</p>
                        <img ng-src="images/mood-{{main.summaryMonth[0].id}}.png"  class="img-responsive center-block img_resultado2" alt="Responsive image">
                        <p>Este mes el {{main.summaryMonth[0].percent}}% de la empresa <br/>estuvo {{main.moods[main.summaryMonth[0].id]}}</p>
                    </div>
                </div>
            </div>-->


            <h1 class="cover-heading">Hola, bienvenido:</h1>
            <p class="lead">Queremos saber cómo te sientes, elige la emoción que mejor
            te representa el día de hoy.</p>
            <p class="lead">
              <a href="#/felling" class="btn btn-lg btn-default">Comenzar</a>
            </p>
        </div>
    </div>


    <!-- ENCUESTA CONTESTADA -->
    
    <div ng-show="main.success"> 

             <div>
            <br/><br/>
                <div>
                    <p class="lead">Gracias por contarnos como te encuentras. ¿Quieres volver a ingresar un nuevo estado?, pincha <a href="#/felling" style="font-weight:bold;">aquí</a></p>

               </div>
                <br/>
            
            <div class="row">
                    <div class="col-md-8"><img ng-src="images/mood-{{main.groupMood}}-final.png" class="img-responsive center-block" alt="Responsive image">
                         <p>Hoy eres parte del {{main.summaryFeelling}}% que <br/>se encuentra {{main.moods[main.groupMood]}}.</p>
                    </div>
                      
                    <div class="col-md-4">
                         <img ng-src="images/mood-{{main.summaryToday[0].id}}.png" class="img-responsive center-block img_resultado2" alt="Responsive image">
                         <p>Hoy el {{main.summaryToday[0].percent}}% de la empresa <br/>está {{main.moods[main.summaryToday[0].id]}}</p>
                           <img ng-src="images/mood-{{main.summaryYesterday[0].id}}.png"  class="img-responsive center-block img_resultado2" alt="Responsive image">
                          <p>Ayer el {{main.summaryYesterday[0].percent}}% de la empresa <br/>estuvo {{main.moods[main.summaryYesterday[0].id]}}</p>
                          <img ng-src="images/mood-{{main.summaryMonth[0].id}}.png"  class="img-responsive center-block img_resultado2" alt="Responsive image">
                         <p>Este mes el {{main.summaryMonth[0].percent}}% de la empresa <br/>estuvo {{main.moods[main.summaryMonth[0].id]}}</p>
                    </div>
                </div>
    </div> <!--cierra main.success-->
<br/>
     <div class="mastfoot">
        <div class="inner">
          <p>Nuestro sitio es para medir el ánimo general de la empresa y mejorar o reforzar iniciativas, por lo que es confidencial lo que aquí escribas</p>
        </div>
     </div>

 </div>
